{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://sectors",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.7.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Sectors": [
        {
          "id": "sector01",
          "name": "sector01",
          "maxUserNo": 1,
          "entries": [
            "map://lobby",
            "map://henesys_battle",
            "map://henesys_boss",
            "map://nautilus_battle",
            "map://nautilus_interior_01",
            "map://nautilus_interior_02",
            "map://nautilus_boss",
            "map://new_skill_stage",
            "map://new_upgrade_stage",
            "map://kerning_city_battle",
            "map://kerning_city_boss",
            "map://kerning_city_battle2",
            "map://perion_battle",
            "map://perion_02_battle",
            "map://perion2_battle",
            "map://perion_boss",
            "map://ellinia_battle",
            "map://ellinia_boss",
            "map://sleepywood_ant_tunnel",
            "map://sleepywood_food_cart_boss",
            "map://sleepywood_temple_battle",
            "map://sleepywood_temple_boss",
            "map://battle_test_hub",
            "map://skill_test"
          ]
        }
      ],
      "AllowOverMaxEntryCountPerSector": false,
      "config_id": "config://sectors"
    }
  }
}