{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://sectors",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.7.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Sectors": [
        {
          "id": "sector01",
          "name": "sector01",
          "maxUserNo": 1,
          "entries": [
            "map://lobby",
            "map://region_01_battle",
            "map://region_05_battle",
            "map://region_05_interior_01",
            "map://region_05_interior_02",
            "map://region_05_boss",
            "map://new_skill_stage",
            "map://new_upgrade_stage",
            "map://kerning_city_battle",
            "map://kerning_city_boss",
            "map://perion_battle",
            "map://excavation_site_battle",
            "map://excavation_site_boss"
          ]
        }
      ],
      "AllowOverMaxEntryCountPerSector": false,
      "config_id": "config://sectors"
    }
  }
}